@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Ubuntu";
    src: url("../fonts/Ubuntu-Regular.ttf") format("truetype");
    display: swap;
}

@font-face {
    font-family: "Ubuntu-Medium";
    src: url("../fonts/Ubuntu-Medium.ttf") format("truetype");
    display: swap;
}

@font-face {
    font-family: "Ubuntu-Light";
    src: url("../fonts/Ubuntu-Light.ttf") format("truetype");
    display: swap;
}

@font-face {
    font-family: "Ubuntu-Bold";
    src: url("../fonts/Ubuntu-Bold.ttf") format("truetype");
    display: swap;
}

html, body {
    @apply font-ubuntu;
}